body {
  background-color: #f8f9fa;
}
button {
  background-color: #025157;
  color: #fff;
}
h1 {
  color: #46484c;
  text-align: center;
}
p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}
li {
  display: inline;
}

.header {
  display: flex;
  align-items: center;
  margin: 40px 20px 0;
  font-size: 0;
}

.header > * {
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo {
  width: 15%;
}
.logo > img {
  width: 40%;
}
.navBar {
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: 500;
  font-family: sans-serif;
  height: 45px;
}
.navBar > * li {
  padding-left: 25px;
  padding-right: 25px;
}
.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.actions > * {
  margin: 0 10px;
}
.actions > a {
  color: #67b54b;
}
.actions > button {
  color: #fff;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}
.main > h1 {
  font-family: fascinate;
  font-size: 40px;
}
.main > p {
    color: #219ebc;
    font-family: Verdana;
    font-size: 20px;

  }
.publicidad {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #343434;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 50px auto;
}
.publicidad > h2 {
  font-family: fascinate;
  color: #025157;
  font-size: 35px;
  margin: 30px;
}
